.nav-item {
    position: relative;
    display: inline-block;
  }

  .nav-item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust the distance from the bottom of the nav item */
    width: 0;
    height: 2px; /* Adjust the thickness of the sliding bar */
    background-color: white; /* Adjust the color of the sliding bar */
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
  }

  .nav-item:hover::after {
    width: 100%;
  }
  .nav-item:not(:hover)::after {
    width: 0;
    left: 0%; /* Move the bar to the right when not hovered */
  }